@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --gray-color: #D3D8DA;
    --blue-color: #34495E;
    --black-color: #000000;
}

* {
    font-family: "Poppins", sans-serif;
    color: var(--black-color);
    font-size: 12px;
}

.login-body {
    background: var(--gray-color);
}

.modal {
    background-color: var(--blue-color);
    opacity: 0.6;
}

option {
    color: var(--black-color);
}