@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --gray-color: #D3D8DA; 
    --blue-color: #34495E;
}

* {
    font-family: "Poppins", sans-serif;
    color: #566573;
    font-size: 14px;
}

.login-body {
    background: var(--gray-color);
}

.modal {
    background-color: var(--blue-color);
    opacity: 0.8;
}